
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
    int count = 0;
}
@model List<ResultBookingDto>

<h2>Rezervasyonlar</h2>
<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <div class="card-title">
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Misafir Adı</th>
                            <th>Giriş Tarihi</th>
                            <th>Çıkış Tarihi </th>
                            <th>Durum</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model){
                            count++;
                            <tr>
                            <th>@count</th>
                            <td>@item.Name</td>
                            <td>@item.Checkin</td>
                            <td>@item.Checkout</td>

                            <td>
                                <span class="badge badge-primary px-2">@item.Status</span>
                            </td>
                                <td> <a href="/BookingAdmin/ApprovedReservation/@item.ID" class="btn btn-outline-success">Onayla</a></td>
                           <td> <a href="#" class="btn btn-outline-danger">İptal Et</a></td>
                            <td> <a href="#" class="btn btn-outline-primary">Beklet</a></td>
                           <td> <a href="#" class="btn btn-outline-secondary">Güncelle</a></td>
                           <td> <a href="#" class="btn btn-outline-info">Detaylar</a></td>


                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

